{%extends "base.html"%}

{%block head%}
    <title>Login</title>
{%endblock%}

{%block body%}
    <h1>Login</h1>

    <form action="/" method="POST">
        <div class="form-group">
            <div class="usr d-block">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            
            <div class="pwd d-block">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
            <a role="button" class="btn btn-outline-primary" href="/signup">Sign Up</a>
        </div>    
    </form>

{%endblock%}